html {
	background-image: url("https://i.pinimg.com/originals/bc/b2/ed/bcb2ed53964eb24e5565cb2ed85af74b.jpg");
	font-family: Garamond;
}

h1, h2 {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.65);
	border-top: solid white 8px;
	padding: 5px;
	color: rgb(66,50,38);
	font-variant: small-caps ;
	margin: 15px ;	
	display: block;
}

h1 {
	font-size: 35px;
	text-align: center;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 18px; 
	margin-left: 25px;
	background-color: rgba(255, 255, 255, 0.65);
}

img, iframe {
	outline-style: solid;
	outline-color: white;
	margin-right: 30px;
	margin-left: 30px;
}

iframe {
	margin-top: 20px;
	margin-bottom: 20px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(249, 252, 246, 0.85);
  text-align: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
 
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(186, 214, 188);
}




