html {
	background-image: url("https://lh3.googleusercontent.com/proxy/yToSAKkDlIJuMnbHtmwPm9x7Mn9CA2pD1lubsNSKDkRmnD3ZcpZDN5sp9slNohi0huhAC5mmcrZALd5TAE7mz_zdYKxsprHajfjXzZ3vWPzRV6WPcg");
	font-family: Garamond;
}

h1, h2 {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.65);
	border-top: solid white 8px;
	padding: 5px;
	color: rgb(66,50,38);
	font-variant: small-caps ;
	margin: 15px ;	
}

h1 {
	font-variant: small-caps;
	text-align: center;
	font-size: 35px;
}

h2 {
	font-size: 30px;
}

p {
	font-size: 20px; 
	margin: 25px;
}

a {
	color: rgb(110,81,60);
	font-size: 20px;
	font-style: none;
}

ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

img, iframe {
	outline-style: solid;
	outline-color: white;
	margin-right: 30px;
	margin-left: 30px;
}

iframe {
	margin-top: 20px;
	margin-bottom: 20px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}







